<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="content" style="align:center">
                <form method="post" action="{{ url_for('hello') }}">
                  <select type="text" name="txt">
                        <option value="0">Amendments</option>
                        <option value="1">Moby Dick</option>
                        <option value="2">Aesop</option>
                        <option value="3">The Beatles</option>
                        <option value="4">The Bible</option>
                  </select>
                  <input style="float:right;" type="submit" />
                </form>
            </div>
    </body>
</html>
 